@import "./variables.scss";

.btn-primary {
  height: 4rem;
  display: block;
  margin: 1rem auto;
  font-size: $default-font-size;
  cursor: pointer;
  background-color: $color-primary;
  color: $color-light;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 3px $color-dark;
  border-bottom: 3px solid transparent;

  &:focus {
    border-bottom: 3px solid $color-primary-dark;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 3px $color-dark;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.left {
  display: inline-block;
}
