@import "./variables.scss";

.choices {
  margin: 1rem 0 2rem 0;

  &__list {
    display: flex;
    justify-content: space-evenly;

    &-li {
      list-style-type: none;
    }

    &-label {
      font-size: $default-font-size;
      cursor: pointer;
      padding: 0.5rem 0.7rem;
    }

    &-label:hover {
      background-color: $color-primary;
      color: $color-light;
    }

    &-radio {
      display: none;
    }

    &-radio:checked + &-label-right,
    .correct {
      background-color: $color-success;
      color: $color-light;
    }

    &-radio:checked + &-label-wrong {
      background-color: $color-fail;
      color: $color-light;
    }
  }
}
