@import "./variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  background-color: $color-primary;
}

.nav-container {
  display: flex;
  padding: 0.5rem 0;

  &__item {
    list-style-type: none;
    color: $color-light;
    font-size: $default-font-size;
    margin-left: 2rem;
    cursor: pointer;
  }

  &__item:hover {
    opacity: 0.6;
  }

  &__info {
    margin-right: 2rem;
  }
}

a,
a:visited {
  text-decoration: none;
}
