@import "./variables.scss";

.ranking {
  width: 80%;
  margin: 0 auto;
  color: $color-dark;

  &__title {
    font-size: 2.5rem;
    color: $color-primary;
    width: 80%;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-block-end: 2rem;
  }

  &-container {
    border-collapse: collapse;
  }

  &-head {
    border-bottom: 1px solid $color-primary;
    &__row {
      padding: 2rem 1rem;
    }
  }
  &-container {
    font-size: 2rem;
    width: 100%;
    text-align: left;
  }

  &-row {
  }
  &-row:nth-child(even) {
    background-color: rgba($color-primary, 0.6);
    color: $color-light;
    width: 100%;
  }

  &-data {
    padding: 1rem 1rem;
  }

  &-pagination {
    margin-top: 2.2rem;
    display: flex;
    list-style: none;
    font-size: 1.5rem;
  }

  &-page {
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
  }
}

.active {
  background-color: $color-primary;
  color: $color-light;
}
