$default-font-size: 1.6rem;
$medium-font-size: 2.1rem;
$big-font-size: 3.2rem;

$color-primary: #0eb2c4;
$color-primary-dark: #0a707b;
$color-success: #03c67b;
$color-fail: #ee5006;

$color-white: #fff;
$color-black: #000;
$color-light: #f7f8f8;
$color-dark: #737474;
