$default-font-size: 1.6rem;
$medium-font-size: 2.1rem;
$big-font-size: 3.2rem;

$color-primary: #0eb2c4;
$color-primary-dark: #0a707b;
$color-primary-light: #1eccdf;
$color-success: #03c67b;
$color-fail: #ee5006;
$color-background-primary: #f5fafb;
$color-background-secondary: #e6f8fc;

$color-white: #fff;
$color-black: #000;
$color-medium: #d3d3d3;
$color-light: #f7f8f8;
$color-dark: #737474;
