@import "./components/variables.scss";

body {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom right,
    $color-background-primary,
    #9febf3
  );
}
