*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 65%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 61%;
  }
}
